draw_config:
  # key dimensions, non-ortho layouts use key_h for width as well
  # key_w: 100 # This doesn't seem to do anything? 🤔
  key_h: 80

  # keys border radius
  key_rx: 6
  key_ry: 6

  # key labels line spacing for multi-line labels
  line_spacing: 1

  # combo box dimensions
  combo_w: 36
  combo_h: 36
  # padding from the edge of cap to top and bottom legends
  small_pad: 6

  # Padding between keys
  inner_pad_w: 2.5
  inner_pad_h: 2.5

  # padding between layers
  outer_pad_w: 15
  outer_pad_h: 15

  # gap between two halves for ortho layout generator
  # split_gap: 20 # This doesn't seem to have any effect either? 🤔

  # as it reads on the tin can, this comment is here for consistency
  append_colon_to_layer_header: false

  # shrink font size for legends wider than this many chars, set to 0 to disable
  # ideal value depends on the font size defined in svg_style and width of the boxes
  shrink_wide_legends: 3

  # Glyphs dimensions
  glyph_tap_size: 28
  glyph_hold_size: 18
  glyph_shifted_size: 18

  # Custom CSS
  svg_style: |
    /* inherit to force styles through use tags */
    svg path {
        fill: inherit;
    }

    /* font and background color specifications */
    svg.keymap {
        /*
         * ====================
         * Theme Variables
         * ====================
         */

        --logo-path: none;
        --logo-size: 12%;
        --logo-position: 49.5% 5%;

        /* === Colors === */

        --color--trans--bg: transparent;
        --color--trans--border: var(--color--material--purple-0);
        --color--trans--text--tap: var(--color--trans--border);
        --color--trans--text--shifted: var(--color--trans--text--tap);
        --color--trans--text--hold: var(--color--trans--text--tap);

        /* from acasppuccin, darkest to lightest */
        --background-secondary: rgb(24, 24, 37);
        --background-primary: rgb(30, 30, 46);
        --divider-color: rgb(49, 50, 68);
        --background-modifier-active: rgb(35, 28, 60);
        --color-accent: rgb(138, 92, 245);
        --ctp-mauve: rgb(203, 166, 247);
        --highlight: rgb(42, 40, 60);
        --text-normal: rgb(198, 208, 245);


        /*
         * ====================
         * /End Theme Variables
         * ====================
         */

        font-family: Rubik Medium,SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
        font-size: 24px;
        font-kerning: normal;
        text-rendering: optimizeLegibility;
        fill: rgb(198, 208, 245);
        background-color: rgb();
        background-image: var(--logo-path);
        background-repeat: no-repeat;
        background-position: var(--logo-position);
        background-size: var(--logo-size) auto;
    }

    rect,
    path {
      shape-rendering: geometricPrecision;
    }

    text {
        text-anchor: middle;
        dominant-baseline: middle;
        line-height: 1;

    }

    /* Layer labels */
    text.label {
        text-anchor: start;
        paint-order: stroke;
        fill: rgb(203, 166, 247);
        dominant-baseline: text-before-edge;
        font-size: 28px;
    }

    /* Keys */
    rect.key {
        fill: rgb(30, 30, 50);
        stroke: rgb(24, 24, 40);
        stroke-width: 1;
    }
    .tap {
        fill: rgb(122, 82, 204);
        font-size: 25px;
    }
    .hold {
        fill: rgb(138, 92, 245);
        opacity: 0.75
    }
    /* styling for combo tap, and key hold/shifted label text */
    text.combo, text.hold, text.shifted {
        font-size: 20px;
    }

    text.hold {
        text-anchor: auto;
        dominant-baseline: auto;
    }

    /*
     * Combos
     */
    rect.combo, rect.combo-separate {
        fill: rgb(35, 28, 60);
        stroke: rgb(42, 40, 60);
        stroke-width: 1;
    }
    path.combo {
        stroke-width: 1;
        stroke: rgb(49, 50, 68);
        stroke-dasharray: 2, 2;
        fill: none;
    }
    .combo.tap {
        font-size: 16px;
    }

    /*
     * Non-Layout Keys
     */
    .keypos-0,
    .keypos-1,
    .keypos-2,
    .keypos-3,
    .keypos-4,
    .keypos-5,
    .keypos-6,
    .keypos-7,
    .keypos-8,
    .keypos-9,
    .keypos-10,
    .keypos-11,
    .keypos-12,
    .keypos-24,
    .keypos-36,
    .keypos-47,
    .keypos-48,
    .keypos-49,
    .keypos-50,
    .keypos-51 {
        opacity: 0.5
    }
